.footer {
  background-color: #161616;

  .top {
    height: 315px; // 强制高度
  }

  .bottom {
    margin-top: 40px;
    height: 80px; // 强制高度
    background-color: #000000;
    color: #474747;
  }
}
