
.header {
  box-sizing: content-box;
  width: 1600px; // 固定宽高
  height: 80px;

  position: absolute; // 脱离正常文档流
  left: 50%;
  transform: translate(-50%); // 水平居中
  margin-left: 25px; // 往右偏一点

  z-index: 100; // 使其滚动时在最上层

  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.15); // 阴影
  border-bottom: 1px solid rgba(85, 85, 85, 0.05);

  line-height: 48px;

  .top {
    height: 40%;
    background-color: #131313; // 深色背景
    padding-left: 188px; // 左边距
    line-height: 32px;

    .left {
      a {
        display: block;
        margin-left: 22px;

        color: #A5AAB8;
        font-size: 12px;
      }
    }
  }

  .bottom {
    nav.left {
      float: left;
      height: 60%;
      padding-left: 188px; // 左边距
      ul {
        li {
          float: left; // 横向排列

          a {
            display: block;
            width: 100px;
            border-right: 1px solid rgba(85, 85, 85, 0.05); // 分隔线
            text-align: center;
            color: #AAB2BD;
            font-size: 14px;
          }
        }
      }
    }

    .right {
    }
  }
}

header.down { // 滚动时的样式
  height: 48px;
  position: fixed;
}